body {
    font-family: 'Tajawal', sans-serif;
    background: #fdfbf7;
}

/* زر */
button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #eee;
    transition: 0.3s;
}

button:hover {
    background: #982b35;
    color: white;
}

/* كروت المنيو */
.menu-item {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
